<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="../static/styles/login-styles.css">
    </head>
    <body>
        <header>
            <style>
                header {
                    background-image: url("../static/images/background.jpg");
                    background-size: contain;
                    background-position: -130% 0%;
                    height: 100vh;
                    background-attachment: fixed;
                }
            </style>
            <div class="login-block">
                <div class="container">
                    <img src="../static/images/ts-logo.jpg">
                    <form id="login-form" action="#" method="post">
                        <label for="username">Username:</label>
                        <input type="text" name="username" placeholder="Username" id="username" required>
    
                        <label for="password">Password:</label>
                        <input type="password" name="password" placeholder="Password" id="password" required>

                        <button type="submit">Log In</button>
                        
                    </form>
                    <button type="submit" class = 'btnmargin'>
                        <a class="btntext" href="/signup" >Sign  Up</a>
                    </button>
                </div>
            </div>
        </header>
    </body>
</html>