<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
    <style>
        body {
            background-color: #8b1e42;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        #quizForm {
            width: 40%;
            margin: 25% auto;
            border: 2px solid #333;
            padding: 20px;
            background-color: #fff;
        }
    </style>
</head>
<body>
    <form id="quizForm">
        <div id="questions"></div>
        <button type="button" id="submitButton">Submit</button>
        <button type="button" id="restartButton" >Restart Quiz</button>
    </form>
    <div id="results"></div>
 


  <script>
    const questions=[
        {
        question: "Who is the current heavyweight champion?",
        options: ["Stipe Miocic", "Jon Jones", "Tai Tuivasa", "Ciryl Gane"],
        correctAnswer: "Jon Jones",
        },
        {
        question: "What weight does lightweight fight at?",
        options: ["155", "135", "170", "205"],
        correctAnswer: "155",
        },
        {
        question: "Who fights Tony Ferguson next?",
        options: ["Matt Frevola", "Dustin Porier", "Paddy Pimblet", "Conor McGregor"],
        correctAnswer: "Paddy Pimblet",
        },
        {
        question: "What monumental event is UFC coming up on?",
        options: ["UFC100", "UFC200", "UFC300", "UFC400"],
        correctAnswer: "UFC300",
        },
        {
        question: "What discipline founded in Brazil involves chokes and locks",
        options: ["Sambo", "Jiu Jitsu", "Kick Boxing", "Wrestling"],
        correctAnswer: "Jiu Jitsu",
        },
        {
        question: "Who is considered the GOAT of women's MMA",
        options: ["Juliana Pena", "Ronda Rousey", "Holly Holm", "Amanda Nunes"],
        correctAnswer: "Amanda Nunes",
        },
        {
        question: "What region of Russia dominates MMA?",
        options: ["Dagestan", "Siberia", "Moscow", "St. Petersberg"],
        correctAnswer: "Dagestan",
        },
        {
        question: "Which fighter paved the way for fighter popularity and business endevours outside of MMA?",
        options: ["Khabib Nurmagomedov", "Mike Hunt", "Brandon Moreno", "Conor McGregor"],
        correctAnswer: "Conor McGregor",
        },
        {
        question: "Which fighter recently made his heavyweight boxing debut against Tyson Fury?",
        options: ["Sergei Pavlovich", "Adian Yanez", "Fracis Ngannou", "Terrence Mckinney"],
        correctAnswer: "Fracis Ngannou",
        },
        {
        question: "What fighter's nickname is the Nigerian Nightmare?",
        options: ["Kamaru Usman", "Israel Adesanya", "Manel Kape", "Mike Perry"],
        correctAnswer: "Mike Perry",
        },
    ];

    const quizForm=document.getElementById("quizForm");
    const questionContainer=document.getElementById("questions");
    const submitButton=document.getElementById("submitButton");
    const restartButton = document.getElementById("restartButton");
    const resultContainer=document.getElementById("results");

    let currentQuestionNumber=0;
    let score=0;

    function loadQuestion() {
        const currentQuestion=questions[currentQuestionNumber];
        questionContainer.innerHTML=`<h2>${currentQuestion.question}</h2>`;
        currentQuestion.options.forEach((option, index)=> {
            questionContainer.innerHTML+= `
                <input type="radio" name="answer" value="${option}" id="option${index}">
                <label for="option${index}">${option}</label><br>
            `;
        });
    }

    function finalScore() {
        const selectedOption=document.querySelector('input[name="answer"]:checked');
        if (selectedOption) {
            const selectedAnswer=selectedOption.value;
            if (selectedAnswer===questions[currentQuestionNumber].correctAnswer) {
                score++;
            }
        }
    }

    function showScore() {
        resultContainer.innerHTML=`<p>Score: ${score} out of ${questions.length}</p>`;
        submitButton.disabled=true;
    }

    document.getElementById("restartButton").addEventListener("click", function() {
        currentQuestionNumber=0;
        score=0;
        loadQuestion();
        resultContainer.innerHTML="";
        submitButton.disabled=false;
    });

    function nextQuestion() {
        finalScore();
        currentQuestionNumber++;

        if (currentQuestionNumber<questions.length) {
            loadQuestion();
        } else {
            showScore();
        }
    }

    loadQuestion();

    submitButton.addEventListener("click", nextQuestion);
  </script>
</body>
</html>