{% extends "base.html" %}

{% block content %}
<div class="content">
  <div class="test-list">
    <h1>All Tests</h1>
    <table>
      <tr>
        <th>Test ID</th>
        <th>User Name</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      {% for test in tests %}
      <tr>
        <td>{{ test.TestID }}</td>
        <td>{{ test.FirstName }} {{ test.LastName }}</td>
        <td><a href="/edit_test/{{ test.TestID }}"><button>Edit</button></a></td>
        <td>
          <form action="/delete_test/{{ test.TestID }}" method="post">
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
    


    <h2>Create New Test</h2>
    <form action="/create_test" method="get">
      <button type="submit">Create Test</button>
    </form>
  </div>
</div>
{% endblock %}
