<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Details</title>
</head>
<body>
    <h1>Test Details</h1>
    <table>
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Teacher Name</th>
            </tr>
        </thead>
        <tbody>
            {% for u in users %}
            <tr>
                <td>{{ u['FirstName'] }} {{ u['LastName'] }}</td>
                <td>{{ u['UserType'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
