{% extends "base.html" %}

{% block content %}
<div class="content">
  <div class="test-list">
    <h1>All Tests</h1>
    <table>
      <thead>
        <tr>
          <th>Test ID</th>
          <th>Professor</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for test in tests %}
          <tr>
            <td>{{ test.TestID }}</td>
            <td>{{ test.FirstName }} {{ test.LastName }}</td>
            <td><a href="/take_test/{{ test.TestID }}"><button>Take Test</button></a></td>
            <td><a href="/test_grades/{{ test.TestID }}"><button>Test Submissions</button></a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
